<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocina</title>
    <link rel="stylesheet" href="app/css/css.css">
</head>

<body class="bg-gray">
    <div id="app" class="container">
        <div class="flex-container">
            <div class="card">
                <h1>Ingredientes</h1>
                <div v-for="(ingrediente, index) in ingredientes" :key="index" class="ingrediente-item">
                    <input type="checkbox" :value="ingrediente" v-model="ingredientesSeleccionados">
                    <span>{{ ingrediente }}</span>
                </div>
                <button @click="cocinar" class="button-cocinar">Cocinar</button>
            </div>
            <div class="card">
                <div v-if="mensaje" class="mensaje-error">{{ mensaje }}</div>
                <div v-if="ingredientesSeleccionados.length > 0" class="flex-container">
                    <div class="ingredientes-seleccionados">
                        <h2>Ingredientes seleccionados</h2>
                        <ul>
                            <li v-for="ingrediente in ingredientesSeleccionados">{{ ingrediente }}</li>
                        </ul>
                    </div>
                    <div v-if="receta" class="imagen-receta">
                        <img :src="receta.imagen" alt="Imagen del platillo">
                    </div>
                </div>
                <div v-if="receta" class="mensaje-exito">
                    <p>¡Felicidades! Has cocinado {{ receta.titulo }}.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app/js/myapp.js"></script>
</body>

</html>